@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

.head-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  color: #0ccac4;
  margin: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search input {
  font-size: 20px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}